@import "../../../../2App/baseTheme.scss";


.changepass_btn{
  width:100%;
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: auto;
  background-color: $color-primary !important;
  color: $color-onPrimary !important;;
  border-color: $color-primary !important;;
  &:hover{
    background-color: $color-primary !important;
  }
}