// IMPORT FONT HERE

// Follow https://material.io/develop/ios/components/theming/typography/
// Follow https://material.io/design/typography/the-type-system.html#applying-the-type-scale
$color-headerBackground:#061625;
$color-mainBackground:#f1f1f1;
$color-indicatorBlue:#377fe2;
$color-primary:#E32028;
$color-onPrimary:white;
$color-secondaryColor:white;
$color-onSecondaryColor:#363636;
$color-surfaceColor:#F8F8F8;
$color-onSurfaceColor:#E6E6E6;
$color-backgroundColor:white;
$color-onBackgroundColor:#717171;
$color-accentColor:#e237c7;

$color-googleColor:#e33b13;
$color-facebookColor:#147bdb;


$typo-body1: 15px Raleway;
$typo-body2: 15px Raleway;
$typo-subtitle1: 15px Raleway;
$typo-subtitle2: 15px Raleway;

$typo-headline1: 25px Raleway 800;
$typo-headline2: 15px Raleway;
$typo-headline3: 15px Raleway;
$typo-headline4: 17px Raleway;
$typo-headline5: 16px Raleway; // HIGHLIGHT
$typo-headline6: 15px Raleway;


$bootstrap-xs-min-width:0px;
$bootstrap-sm-min-width:768px;
$bootstrap-md-min-width:992px;
$bootstrap-lg-min-width:1200px;

// -------------------- CUSTOM VARIABLE START HERE -------------------------- //
$randy-variable:"14px";



// -------------------- CUSTOM ELEMENT CHANGE HERE -------------------------- //