@import "../../../../2App/baseTheme.scss";

.form-forgot-password{

  margin-top:50px;
  margin-bottom: 50px;

  .input-group {
    width: 100%;
  }
  .help-block {
    margin-bottom: -3%;
    width: 100%;
  }

  .label-forgot-password{
    width: 100%;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
  }

  .forgot_password_btn{
    background-color: $color-primary;
    color: $color-onPrimary;
    border-color: $color-primary;
    &:hover{
      background-color: $color-primary;
    }
  }

}
